@import url("https://fonts.googleapis.com/css?family=Helvetica|Megrim&display=swap");
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Helvetica", cursive;
  color: #000;
  background-color: #f5f5f7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #000;
}

.title {
  padding: 5px 0 0 10px;
  text-align: center;
}
.title h1 {
  font-family: "Megrim", cursive;
  font-size: 45px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  padding-left: 10px;
  color: #000;
  text-shadow: 2px 2px 0px #f5f5f7, 4px 4px 0px #84c1ff, 4px 4px 6px #000;
}
.title img {
  width: 40px;
  height: auto;
}

.nav {
  position: absolute;
  top: 4px;
  right: 10px;
}
.nav li {
  display: inline;
  padding: 0 15px;
  border-left: 3px solid #000;
}
.nav li:hover {
  border: 2px solid #000;
  transition: 0.5s ease-in-out;
}
.nav li:active {
  border: 5px solid #000;
}
@media (max-width: 799px) {
  .nav li {
    display: none;
  }
}

.line {
  width: 85%;
  height: 100px;
  border: solid 1px #000;
  border-radius: 45%/60px 100px 0 0;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 120px;
  left: 13%;
}
@media (max-width: 840px) {
  .line {
    display: none;
  }
}

.carousel {
  width: 20%;
  border-radius: 0px 0px 15px 15px;
  margin: 10px auto 20px auto;
  overflow: hidden;
  box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.7);
}
@media (max-width: 840px) {
  .carousel {
    display: none;
  }
}
.carousel__figure {
  position: relative;
  width: 300%;
  margin: 0;
  padding: 0;
  font-size: 0;
  animation: 12s sliders infinite;
}
.carousel__figure--pic {
  width: 33.33%;
  height: auto;
  float: left;
}

@keyframes sliders {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    right: 200%;
  }
  75% {
    right: 100%;
  }
  95% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.offers {
  padding-top: 50px;
}

.perspective {
  width: 100%;
  perspective: 800px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1240px) {
  .perspective {
    display: block;
    margin-bottom: 10px;
  }
}
.perspective__3d {
  width: 400px;
  height: 280px;
  margin: auto;
  box-shadow: 0 70px 63px -60px #494848;
  transform-style: preserve-3d;
  transition: transform 0.05s linear;
}
@media (max-width: 1240px) {
  .perspective__3d {
    padding-bottom: 20px;
  }
}
.perspective__3d--card {
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.perspective__3d--card:after {
  background: inherit;
  content: "";
  display: block;
  position: absolute;
  left: -60px;
  top: 40px;
  width: 100%;
  height: 85%;
  z-index: -1;
  filter: blur(50px);
}
.perspective h2 {
  position: absolute;
  top: 0;
  margin: 0;
  font-size: 1.1em;
  font-weight: 100;
  transform: translateZ(35px);
  text-transform: uppercase;
}
.perspective span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 0.8em;
  font-weight: 600;
  transform: translateZ(35px);
}
@media (max-width: 1240px) {
  .perspective {
    transform: translateZ(0px);
  }
}

.button {
  padding-top: 80px;
  position: relative;
  margin: 0 auto;
  width: 340px;
}
.button:hover .button__rect {
  stroke-dasharray: 860;
  stroke-dashoffset: 0;
  stroke-width: 2px;
}
.button__rect {
  fill: transparent;
  stroke: #000;
  border-bottom: 5px solid #f5f5f7;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
}
.button__text {
  position: relative;
  text-align: center;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 7px;
  color: #000;
  top: -61px;
  left: -7px;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 10%;
  right: 10%;
}

.network {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  font-family: "Megrim", crusive;
}
.network a {
  padding: 0px 25px;
}
@media (max-width: 840px) {
  .network a {
    padding: 0px 5px;
  }
}
.network a:hover {
  transform: scale(2.5);
  transition: 0.4s ease-out;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #f5f5f7, 0 0 30px #f5f5f7, 0 0 40px #f5f5f7, 0 0 55px #f5f5f7, 0 0 75px #f5f5f7;
}
.network a:hover:nth-child(5) {
  transform: scale(1.1);
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
